/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

body {
 font-family:"Quattrocento Sans" "Arial";
 font-size:1.25em;
 line-height:1.3em;
 color:#68776c;
 background-color: rgb(250,250,250);
 padding:0px;
 margin:0px;
}

iframe {
 width:100%;
 min-height:400px;
}

table {
 width:100%;
 max-width:500px;
 text-align:center;
 margin:1em auto;
 border:none;
 outline:none;

 color:black;
 background-color:rgb(250,250,250);
 border-collapse:collapse;
}


td {
 padding:1em;
}

tr:first-child { /*TODO*/
 background-color:#55bf55;
 font-size:1.4em;

}
tr:first-child td {
 padding:10px;

}


a {
 color:#68776c;
 background-color:#d4ff02;
 opacity:0.8;
 font-weight:bold;
 text-decoration:none;
 outline:none;
}
a:hover {
 opacity:1;
}

.hiddenLink {
 font-weight:initial;
 background-color:initial;
 opacity:1;
}

.tinyCenterText {
 text-align:center;
 padding-top:1em;
 font-size:0.9em;
 margin:1em 1.75em 0em 1.75em;
}

.highlightText {
 color:maroon;
 opacity:0.8;
}

.bigText {
 font-size:1.5em;
 line-height:1.2em;
 color:#68776c;
 text-align:center;
 margin:1.5em 1.75em 1em 1.75em;
}


#menuButton {
 display:inline-block;
 font-weight:bold;
 opacity:0.8;
 cursor:pointer;
 padding: 1em 1.5em;
}
#menuButton:hover {
 opacity:1;
}
#menuBlock {
 color:rgb(250,250,250);
 background-color:rgb(250,250,250);
 text-align:right;
}

#logoBigImage {
 display:block;
 margin: 0px auto;
 width:100%;
 max-width:1000px;
}
#logoSmallImage {
 display:none;
}

#logoInfo {
 position:relative;
 font-family:"Source Sans Pro";
 line-height:1.4em;
 box-sizing:border-box;
 padding:0em 1.2em 1em 1.2em;
 font-size:1.4em;
 color:#68776c;
 max-width:1000px;
 margin:0px auto;
}

#logoDate {
 left:4px;;
 position:absolute;
}
#logoLocal {
 right:4px;
 position:absolute;
}

#logoBlock {
 position:relative;
 padding:0em 0em 1.3em 0em;
}


.collegeLogo {
 width:25%;
 max-width:200px;
 margin:0.5em;
}

#copyrightBlock {
 text-align:center;
 vertical-align:center;
 font-weight:bold;
 font-size:0.8em;
 padding:1em;
 padding-top:5em;
}
#copyrightBlock a {
 background-color:initial;
 opacity:0.9;
}

.noSelect {
 user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
 cursor:default;
}

.templateBlock {
 position:relative;
 width:100%;

}

#menuOptions {
 padding:1em 0em;
 line-height:2em;
 text-align:center;
 font-size:0.9em;
 background-color:#49d6dd;
}

#menuOptions a {
 padding:1em 1em;
 background-color:initial;
}

#sponsorBlock a {
 opacity:initial;
 background-color:initial;
}

#sponsorBlock {
 text-align:center;
 padding-top:1em;
 background-color: rgb(250,250,250);
}
.sponsor {
 position:relative;
 width:100%;
 max-width:350px;
 text-align:center;
 margin:0 auto;
 padding:2em 0em 1em 0em;
}
.sponsorName {
 font-size:1.5em;
 padding:0.25em;
 color:rgb(249, 191, 59);
}
.sponsorLogo {
 max-width:100%;
}
.sponsor.silver {
 max-width:150px;
}

.level {
 position:absolute;
 top:0.25em;
 right:0em;
 font-weight:bold;
 background-color:#e74c3c;
 padding:0.3em 0.5em;
 font-size:1.2em;
 opacity:0.95;
 border-right:4px solid black;
}

.level.platinum {
 font-size:1.2em;
 color:cyan;
 border-right-color:cyan;
}
.level.gold {
 color:gold;
 border-right-color:gold;
}
.level.silver {
 color:rgb(220,220,220);
 border-right-color:rgb(220,220,220);
}
.level.bronze {
 color:#EB9532;
 border-right-color:#EB9532;
}


#scheduleBlock {
 color:#68776c;
}
.scheduleDate {
 color:rgb(249, 191, 59);
 font-weight:bold;
 font-size:1.4em;
 padding:0.2em;
}
.scheduleTime, .ribbonBanner {
 color:rgba(245, 171, 53, 0.9);
 font-size:1.1em;
 padding:0em 0em 0.1em 1em;
}
.scheduleTitle {
 padding:0em 0em 0em 2em;
 font-weight:bold;
}
.scheduleDescription {
 padding:0em 0em 0.8em 2em;
}
.scheduleDescription:last-child {
 padding-bottom:0px;
}
.scheduleChunk {
 padding:1em;
 max-width:450px;
 margin:0 auto;
}


.ribbonBanner {
 padding-top:1em;
 text-align:center;
 font-size:1.2em;
 max-width:1000px;
 margin:0 auto;
}

.superscript {
 vertical-align:super;
 font-size:0.5em;
}

.infoSection {
 padding:0.5em 2em 1em 2em;
 max-width:600px;
 margin:0 auto;
 text-align:justify;
}

.scheduleDescription li {
 font-size: 0.8em;
 padding-left:1em;
}

.infoSection li {
 font-size:0.8em;
}

.triplet {
 display:inline-block;
 white-space:nowrap;
}

.popWord {
 padding:0em 0.3em;

}

.buttonContainer {
 text-align:center;
 padding:1em 0em;
}

.halfWidthButton {
 display:inline-block;
 font-size:1.6em;
 padding:0.5em;
 text-align:center;
 box-sizing:border-box;
 width:40%;
 margin:0px auto;
 background-color:#d4ff02;
}
a.halfWidthButton, .smallButton a {
 background-color:initial;
}

.smallButton {
 display:inline-block;
 margin-top:1em;
 padding:0.25em 1em;
 font-size:0.8em;
 background-color:#49d6dd;
}

.fullWidthButton {
 text-align:center;
 margin: 1.5em 0.5em 0.5em 0.5em;
 background-color:#3498db;
 padding:1em;
 opacity:0.8;
 border-radius:8px;

}

.fullWidthButton:hover {
 opacity:0.9;
}

@media (max-width: 500px) {
 #logoSmallImage {
  display:block;
  width:30%;
  margin: 0px auto;
 }
 #logoBigImage {
  display:none;
 }
  #logoInfo {
  padding:0em 0.8em 0.5em 0.8em;
  font-size:1.2em;
 }
}
