<div class="ribbonBanner">What is it?</div>
<div class="infoSection">
A marathon 48-hour event in which student teams from Bryn Mawr, Haverford, and Swarthmore Colleges create apps, products, devices and whatever other cool, zany things they dream up.
</div>

<div class="ribbonBanner">Can I participate?</div>
<div class="infoSection">
Any and all current Tri-Co students are invited and encouraged to participate. Artists, gamers, philosophers, K'NEX enthusiasts, postmodernists, biologists, Snapchat fiends... It doesnt matter how technical you are, your major, or whether you've done a hackathon before. This is an opportunity to learn new skills, get creative, make connections, and do something awesome in a weekend.
</div>

<div class="ribbonBanner">How do I sign up?</div>
<div class="infoSection">
Fill out the sign-up form by Thursday, January 23rd, 2014. You can sign up as part of a team of up to five people or as an individual.
</div>

<div class="ribbonBanner">Will there be food?</div>
<div class="infoSection">
There will absolutely be food (and coffee, of course) provided to participants throughout the weekend.
</div>
