<div class="infoSection">
Do you have <span class="popWord">data</span> that needs interpreting? A <span class="popWord">problem</span> in the community that you want to solve? An <span class="popWord">idea</span> for an app that will change the world?
</div>

<a href="https://docs.google.com/forms/d/1xybIxrjE9hrFjyJ3Ge0IbRp-tkP4ul9rmRgh1Bh64Vk/viewform?edit_requested=true">
<div class="fullWidthButton">Submit your ideas to the Tri-Co Hackathon 2015.</div>
</a>

<div class="infoSection">
The Hackathon is happening from <span class="popWord">January 23th–25th</span> in Founders Great Hall at Haverford. This year, our theme is <span class="popWord">community impact</span> -- so the apps and other projects should aim to tackle in some way a <span class="popWord">social or environmental problem</span> in the Tri-Co, greater Philadelphia region, or beyond. But it's not just computer scientists who should participate; activists, social scientists, artists, poets, news junkies, and humanists of all stripes will play a vital role in the event. <span class="popWord">Come do something amazing!</span>
</div>

