
<div class="infoSection">
To give people an introduction to some useful concepts and skills for creating a web app, were hosting a boot camp on Friday, January 24th from 1:00-5:00PM in Founders Great Hall. The bootcamp is open to all students, whether youre participating in the hackathon or not (though you definitely should).
</div>

<div class="infoSection">
What's the best thing you can do to prepare in the mean time? Feel free to check out resources like Codecademy's JQuery/CSS/HTML tutorials or Learn Code the Hard Way's Command Line Crash Course if you have some extra time, but know that we are planning "bootcamps" to give you the basic knowledge you need.
</div>
