
<div class="infoSection">
To give people an introduction to some useful concepts and skills for creating a web app, were hosting a boot camp (date/time TBA). The bootcamp is open to all students, whether youre participating in the hackathon or not (though you definitely should)!
</div>

<div class="infoSection">
What's the best thing you can do to prepare in the mean time? Check out resources like Codecademy's <a href="http://www.codecademy.com/en/tracks/jquery">JQuery/CSS/HTML tutorials</a> or Atlassian's <a href="https://www.atlassian.com/git/tutorials">Git tutorial</a>.
</div>
