
<a href="http://myatlascms.com/map/?id=20&mrkIid=3817#!m/3817">Campus Map</a>
<a href="http://goo.gl/maps/SwTJE">Haverford</a>

<div class="ribbonBanner">Parking</div>
<div class="infoSection">
Here is a Google Maps link to Haverford -- and this is a campus map.
If you don't want to take the Blue Bus or the Swat Van, parking is also available in the South Lot or by Stokes (by the Blue Bus stop). The South Lot is probably your best bet.
</div>

<div class="ribbonBanner">Hilles 109</div>
<div class="infoSection">
Hilles 109 is the auditorium-style room in the Hilles hall of the KINSC (the large science building across the field from Founders). The Start-up Night will be held there on Thursday.
</div>

<div class="ribbonBanner">Founders Great Hall</div>
<div class="infoSection">
You can't miss Founders. It is smack-dab in the heart of campus. From the Stokes Bus Stop, just walk towards the library and look left to where all of the sidewalks converge. From the South Parking Lot head upcampus towards the KINSC. Follow the side-walks and you'll find yourself on Founders field! Founders is the large tan/white building with the nice rocking chairs.
</div>
