<div class="ribbonBanner">Founders Great Hall</div>
<div class="infoSection">
You can't miss <a href="http://myatlascms.com/map/?id=20&mrkIid=3817#!s/key=founders?m/2488">Founders</a>. It is smack-dab in the heart of campus. From the Stokes Bus Stop, just walk towards <a href="http://myatlascms.com/map/?id=20&mrkIid=3817#!s/key=magill?m/2583">Magill</a> and look left to where all of the sidewalks converge. From the South Parking Lot head upcampus towards Stokes. Follow the side-walks and you'll find yourself on Founders Green! Founders is the large tan/white building with the nice rocking chairs.
</div>

<div class="ribbonBanner">Parking</div>
<div class="infoSection">
If you don't want to take the Blue Bus or the Swat Van, parking is also available in the <a href="http://myatlascms.com/map/?id=20&mrkIid=3817#!s/key=south lot?m/2556">South Lot</a> and by <a href="http://myatlascms.com/map/?id=20&mrkIid=3817#!s/key=stokes?m/2565">Stokes</a>. The South Lot is probably your best bet for availability.
</div>
