<div id="menuBlock" class="noSelect">
  <div id="menuButton">Menu</div>
  <div id="menuOptions">
    <div class="triplet">
      <a href="index.html">Home</a>
      <a href="bootcamp.html">Bootcamp</a>
      <a href="faq.html">FAQ</a>
    </div>
    <div class="triplet">
      <a href="directions.html">Directions</a>
      <a href="schedule.html">Schedule</a>
      <a href="rules.html">Rules</a>
    </div>
    <div class="triplet">
      <a href="sponsors.html">Sponsors</a>
    </div>
  </div>
</div>

