<a href="https://docs.google.com/forms/d/1xittR6OvSDFwmgeOEBbcTyjGQ8R_9v1p5QhGGep73d4/viewform">
<div class="fullWidthButton">Sign up!</div>
</a>

<div class="infoSection">
The Hackathon is happening from <span class="popWord">January 23th–25th</span> in Founders Great Hall at Haverford. This year, our theme is <span class="popWord">community impact</span> -- so the apps and other projects should aim to tackle in some way a <span class="popWord">social or environmental problem</span> in the Tri-Co, greater Philadelphia region, or beyond. But it's not just computer scientists who should participate; activists, social scientists, artists, poets, news junkies, and humanists of all stripes will play a vital role in the event. <span class="popWord">Come do something amazing!</span>
</div>

