<div class="ribbonBanner">Participation</div>
<div class="infoSection">
Participants must be current students at Bryn Mawr, Haverford, or Swarthmore Colleges. Participation is closed to immediate family of judges or anyone actively employed by a sponsoring company at the time of the competition.
</div>
<div class="ribbonBanner">Teams</div>
<div class="infoSection">
Teams may consist of two to five people. Each team must submit a list of members by 5:30 p.m. on Friday, January 24th. Teams can be composed of students from any or all of the three Tri-Co schools.
</div>
<div class="ribbonBanner">Prior to the Event</div>
<div class="infoSection">
Ideas may be brainstormed before the start time, but no implementation work may be done ahead of time. This includes coding and graphic design. Teams may, however, practice using any APIs, frameworks, or data sources necessary so long as none of the code involved is used in the submitted project.
</div>


