<div id="sponsorBlock">
{{#each sponsors}}
  <div class="sponsor {{this.level}}">
    <a href="{{this.link}}">
      <img class="sponsorLogo" src="{{this.img}}"/>
      <div class="sponsorName">{{this.name}}</div>

      {{#ifEqual this.level "platinum"}}
        <div class='level platinum'>Platinum</div>
      {{/ifEqual}}

      {{#ifEqual this.level "gold"}}
        <div class='level gold'>Gold</div>
      {{/ifEqual}}

      {{#ifEqual this.level "silver"}}
        <div class='level silver'>Silver</div>
      {{/ifEqual}}

      {{#ifEqual this.level "bronze"}}
        <div class='level bronze'>Bronze</div>
      {{/ifEqual}}

    </a>
  </div>
{{/each}}


<div class='ribbonBanner'>Institutional Sponsors</div>
{{#each institution}}
  <div class="institutionalSponsor">
    {{this}}
  </div>
{{/each}}

<div class='ribbonBanner'>With Generous Support From</div>
{{#each others}}
  <div class="otherSponsor">
    {{this}}
  </div>
{{/each}}

<div class='ribbonBanner'>Food Sponsors</div>
{{#each food}}
  <div class="otherSponsor">
    <a href="{{this.url}}">{{this.name}}</a>
  </div>
{{/each}}


<div id="sponsorButton">
  <a href="sponsorship.html">become a sponsor?</a>
</div>

</div>
