<div class='infoSection'>
Want to be a Tri-Co Hackathon sponsor? It's a great way to promote your company or organization to a bunch of smart, talented college students.
</div>

<div class='scheduleChunk'>
  <div class='scheduleDate hashLink'>Gold ($1000+)</div>
  <div class='scheduleDescription'>
    <li>A table for your company at the hackathon kickoff with company literature and swag.</li>
    <li>Top billing in the emcee's introduction at the kickoff event and the presentations on Sunday.</li>
    <li>Most prominent logo display on all event promotional materials (web and print).</li>
    <li>Resume book of student participants*.</li>
  </div>

  <div class='scheduleDate hashLink'>Silver ($500-$999)</div>
  <div class='scheduleDescription'>
    <li>A table for your company at the hackathon kickoff with company literature and swag.</li>
    <li>Mentioned in the emcee's introduction at the kickoff event and the judging presentations.</li>
    <li>Logo display on all event promotional materials (web and print).</li>
  </div>

  <div class='scheduleDate hashLink'>Bronze ($250-$499)</div>
  <div class='scheduleDescription'>
    <li>Mentioned in the emcee's introduction at the kickoff event and the judging presentations.</li>
    <li>Logo display on all event promotional materials (web and print).</li>
  </div>

</div>

<div class='tinyCenterText'>
Email <span class='highlightText'>hackathon@haverford.edu</span> by
<span class='highlightText'>Friday, January 16</span> if you're interested.
</div>
