<div class="infoSection">
This year’s Hackathon emphasizes social and environmental impact:  projects that aim to make the world -- within the Tri-Co or beyond -- a better place. To help you do this, we’re introducing a few different tracks for teams to follow:
</div>

<div class="ribbonBanner">Social Impact</div>
<div class="infoSection">
Projects that aim to address a social issue of some sort -- poverty, inequality, education, public health, etc.

<li>EG: Mobile app that tracks your local congressional representatives’ recent votes and lets you “vote” on whether you approve or disapprove of them.
<li>EG: A database of Tri-Co student art projects .
</div>

<div class="ribbonBanner">Environmental Impact</div>
<div class="infoSection">
Projects that aim to address an environmental issue -- energy use, public transportation, etc.

<li>EG: A mobile app that tracks energy use on the Tri-Co campuses.
</div>

<div class="ribbonBanner">Data</div>
<div class="infoSection">
Projects that utilize existing public data in new and interesting ways.
</div>
